Repository carere/gel-better-auth: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, lint, format

sort-package-json:
  run: bun sort-package-json {staged_files}
  stage_fixed: true

lint:
  run: bun biome check --write {staged_files}
  stage_fixed: true

format:
  run: bun biome format --write {staged_files}
  stage_fixed: true

feat: finishing schema generation
  .vscode/settings.json
  bun.lock
  dbschema/auth.gel
  dbschema/default.gel
  package.json
  src/index.ts
  src/test.ts
  src/utils.ts
  tests/gel-adapter.spec.ts
Due: sort-package-json, lint, format

fix: bad formatting at the end of generated file
  dbschema/auth.gel
  dbschema/default.gel
  src/index.ts
  src/test.ts
Due: lint, format

feat: enabling declaring multiple times the same literals
  dbschema/auth.gel
  src/index.ts
  src/test.ts
Due: lint, format

feat: adding wip create & findOne implementation
  .gitignore
  bun.lock
  package.json
  src/index.ts
  src/test.ts
  tests/gel-adapter.spec.ts
Due: sort-package-json, lint, format

chore: add agent-os and product guidelines
  .agent-os/product/decisions.md
  .agent-os/product/mission-lite.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
Due: none

chore: adding spec file for findMany operation
  .agent-os/specs/2025-08-02-findmany-operation/spec.md
  .mcp.json
Due: lint, format

feat: adding findMany & several helpers for qol
  src/index.ts
  src/utils.ts
  tests/gel-adapter.spec.ts
Due: lint, format

feat: add delete / delete many operations
  .agent-os/product/roadmap.md
  src/index.ts
  src/utils.ts
Due: lint, format

feat: adding more operations and test success to the mix
  .agent-os/product/roadmap.md
  dbschema/auth.gel
  src/index.ts
  src/utils.ts
  tests/gel-adapter.spec.ts
Due: lint, format

feat: passing all better-auth tests
  .agent-os/product/roadmap.md
  .agent-os/specs/2025-08-03-handle-wrong-uuid/spec.md
  src/index.ts
  src/utils.ts
Due: lint, format

feat: add indexes support
  .agent-os/product/roadmap.md
  .agent-os/specs/2025-08-03-add-indexes-support/spec.md
  dbschema/test.gel
  src/index.ts
  src/utils.ts
Due: lint, format

feat: update README and add some build script
  .gitignore
  LICENSE
  README.md
  bun.lock
  dbschema/test.gel
  images/gel-better-auth-banner.svg
  package.json
  src/index.ts
  src/utils.ts
  tsconfig.json
  tsup.config.ts
Due: sort-package-json, lint, format

chore: adding some workflows for pr merging
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  knope.toml
  lefthook.yml
  package.json
  src/utils.ts
Due: sort-package-json, lint, format

ci: add gel creation + gel migration + schema generation
  .github/workflows/pr-checks.yml
  dbschema/auth.gel
Due: none

chore: add auth.ts for gel database in CI
  .github/workflows/pr-checks.yml
  .gitignore
  package.json
  src/auth.ts
Due: sort-package-json, lint, format

fix: bad formatting
  src/auth.ts
Due: lint, format

ci: pass --yes to @better-auth/cli generate
  .github/workflows/pr-checks.yml
Due: none

chore: remove agent-os & dbschema
  .agent-os/product/decisions.md
  .agent-os/product/mission-lite.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  .agent-os/specs/2025-08-02-findmany-operation/spec.md
  .agent-os/specs/2025-08-03-add-indexes-support/spec.md
  .agent-os/specs/2025-08-03-handle-wrong-uuid/spec.md
  .gitignore
  .mcp.json
  dbschema/auth.gel
  dbschema/default.gel
  dbschema/scoping.gel
Due: lint, format

chore: reset database after all test instead of before
  tests/gel-adapter.spec.ts
Due: lint, format

chore: fix bad option for @better-auth/cli
  .github/workflows/pr-checks.yml
  .gitignore
  bun.lock
Due: none

feat: update README + update ci
  .agent-os/product/decisions.md
  .agent-os/product/mission-lite.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  .agent-os/specs/2025-08-02-findmany-operation/spec.md
  .agent-os/specs/2025-08-03-add-indexes-support/spec.md
  .agent-os/specs/2025-08-03-handle-wrong-uuid/spec.md
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .gitignore
  .mcp.json
  LICENSE
  README.md
  bun.lock
  dbschema/auth.gel
  dbschema/default.gel
  dbschema/scoping.gel
  dbschema/test.gel
  images/gel-better-auth-banner.svg
  knope.toml
  lefthook.yml
  package.json
  src/auth.ts
  src/index.ts
  src/utils.ts
  tests/gel-adapter.spec.ts
  tsconfig.json
  tsup.config.ts
Due: sort-package-json, lint, format

chore: update CHANGELOG
  CHANGELOG.md
Due: none

chore: format package.json
  package.json
Due: sort-package-json, lint, format

fix: improve ci & add artifacts to release
  .github/workflows/quality-checks.yml
  .github/workflows/release.yml
  knip.json
Due: lint, format

feat: improve readme & update biome schema version
  README.md
  biome.json
Due: lint, format

feat: add proper workflow for releasing project
  .github/workflows/pre-release.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/quality-checks.yml
  .github/workflows/release.yml
  knope.toml
Due: none

ci: update release process by adding tag creation
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  knope.toml
Due: none

fix: remove commitlint on PR + add badge to README
  .github/workflows/quality-assurance.yml
  README.md
Due: none

ci: enable quality assurance only on push
  .github/workflows/quality-assurance.yml
Due: none

fix: missing knope
  .github/workflows/pre-release.yml
  package.json
Due: sort-package-json, lint, format

ci: only allow trigger workflows (release & pre-release) on main
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: bad ref names for workflows
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: update git user & PR template
  .github/workflows/pre-release.yml
  knope.toml
Due: none

fix: use GH_TOKEN in workflow to authenticate
  .github/workflows/pre-release.yml
Due: none

fix: use gh cli insted of knope step for creating PR
  knope.toml
Due: none

chore: prepare release 1.0.1
  CHANGELOG.md
  package.json
Due: sort-package-json, lint, format

Path conditions:
  sort-package-json: any of: package.json
  lint: any of: *.{js,ts,tsx,json,jsonc,html,css}
  format: any of: *.{js,ts,tsx,json,jsonc,html,css}
